[tool.poetry]
name = "simms"
version = "3.0beta1"
description = "Simms 3.0. Tool for end-to-end simulations of radio inteferometer observations"
authors = [
    "Sphesihle Makhathini <sphemakh@gmail.com>",
    "Mika Naidoo <mika.naidoo25@gmail.com>",
    "Mukundi Ramanyimi <ramayimimukundi6@gmail.com>",
    "Shibre Semane <sshibre0@gmail.com>",
    "Galefang Mapunda <allymap@gmail.com>",
    ]

readme = "README.rst"
license = "GNU GPL v2"
include = [{ path = "tests" }]
packages = [{ include = "simms" }]

[tool.poetry.dependencies]
python = "^3.8"
numpy = "*"
tdqm = "*"
click = "^8.1.3"
dask-ms = "^0.2.18"
ephem = "^4.1"
stimela = ">=2.0"

[tool.poetry.scripts]
skysim = "simms.parser_config.skysim:runit"
telsim = "simms.parser_config.telsim:runit"
observe = "simms.parser_config.observe:runit"


[build-system]
requires = ["setuptools", "poetry-core"]
build-backend = "poetry.core.masonry.api"


[tool.poetry.group.tests]
optional = true
[tool.poetry.group.tests.dependencies]
pytest = "^7.1.3"
flake8 = "*"
matplotlib = "*"


[tool.poetry.group.docs]
optional = true
[tool.poetry.group.docs.dependencies]
Sphinx = "^5.3.0"
sphinx-copybutton = "^0.5.0"
furo = "^2022.9.15"
[tool.poetry.group.dev.dependencies]
ipykernel = "^6.29.4"
astropy = "*"
matplotlib = "*"

